{% extends "base.html" %} {% load static %} {% load i18n %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/pages/login-register-lock.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}"> {% endblock %} {% block content %} {% if user.is_authenticated %}
<div id="particles-js" style="width:100%; height=100%; background-color: #ffffff;">
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" action="." method="post">
                    {% csrf_token %}
                    <h3 class="box-title m-b-20">Register New User</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" name="email" id="id_email" required="" placeholder="Email"> </div>
                        <div>
                            <div class="form-group">
                                <p class="required">
                                    <input type="password" name="password1" required id="id_password1" value="{{user.idf}}" hidden /> </p>
                            </div>
                            <div class="form-group">
                                <p class="required">
                                    <input type="password" name="password2" required id="id_password2" value="{{user.idf}}" hidden/>
                                </p>
                            </div>
                        </div>
                        <div class="form-group text-center" style="margin:10px;">
                            <div class="col-xs-12 p-b-20">
                                <input class="btn btn-info btn-rounded" type="submit" value="Submit">
                            </div>
                        </div>
                </form>
                <!-- <div class="form-group">
                <div class="col-sm-12 text-center">
                    Don't have an account? <a href="{% url 'registration_register' %}" class="text-info m-l-5"><b>Sign Up</b></a>
                </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>Logged in</p>
    {% endif %} }
    <!-- <form method="post" action=".">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p> -->
    {% endblock %} {% block scripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
    particlesJS.load('particles-js', "{% static 'assets/plugins/pjs.json' %}", function() {
        console.log('callback - particles.js config loaded');
    });
    </script>
    {% endblock %}
