{% extends "base.html" %}

{% block title %}MultiChat Example{% endblock %}
{% block header_text %}MultiChat Example{% endblock %}
{% load staticfiles %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'feedback/main.css' %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'feedback/main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

      <div class="card event-details">

                            <div class="card-body" id="event-details">
                                <h2 ><b>Event Title:</b>{{event.event_name}}</h2>
                                 <p class="text-lead"><b>Description </b>{{event.description}}</p>

                                <p class="card-text">Starting on <a href="#" class="btn btn-info">{{event.timestamp}}</a></p>
                                <div id="room_id" hidden>
                                  {{event.id}}
                                </div>
                                <div id="join-room">
                                    <button class="btn btn-success" type="button">Join event</button>
                                </div>
                            </div>
                          </div>

                          <div class="card" id="event-feeback" style="display: none;">
                            <span id="no-active-questions-span">No active questions right now! </span>
                          </div>

                        </div>

{% endblock %}
